<%- include('partials/common')   %>
<center>
    <h1>Enter a City for Weather Information</h1>
    <br>
    <form action="/" method="post" class="form-group">
    <div class="form-group">
    <label for="cityInput">City Name:</label>
   <input type="text" class="form-group" name="cityName" autofocus autocomplete="off">
    </div>
   
    <button type="submit">Go</button>
    </form>

</center>
</body>
</html>